{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
    <div class="col-lg-12" style="">

    <h1 class="display-2">{{destination.name}}</h1>
    <h1 class="lead">{{destination.description}}</h1>
    <h1 class="lead">{{destination.activities}}</h1>
    <p><img src="{{destination.pretty_picture.url}}" class="img-fluid"></p>
    <h1 class="display-4">{{destination.optimal_visiting_season}}</h1>
    <a href="{% url 'destination-update' destination.id %}">
        <button type="button" class="btn btn-dark">UPDATE</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button type="button" class="btn btn-danger">DELETE</button>
    </a>

{% endblock content %}